nav ul a{
	color: #023364;
}
nav{
	background-color: white;
height: 85px;
}

.header{
	color: #233364
}
p{
	line-height: 2rem;
}
.sidenav-trigger{
	color: #26a69a;
}
.parallax-container{
	min-height: 500px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,0);
}

.parallax-container .section{
	width:100%;
}
@media only screen and (max-width : 992px){
	.parallax-container .section{
		position:absolute;
		top:40%;
	}
	#index-banner .section{
		top:10%;
	}
}

@media only screen and (max-width: 600px){
	#index-banner .section{
		top:0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.material-icons{
	color: #20815c;
}

footer a{
color: #e0e0e0;
}
.page-footer{
	background-color: #023364;
}